name: Periodic
on:
  workflow_dispatch:
  schedule:
    - cron: "23 1 * * 2"

permissions:
  contents: read

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  extras:
    uses: ./.github/workflows/extras.yml
